[*.{asm,s}]
charset = utf-8
indent_style = spaces
indent_size = 8
trim_trailing_whitespace = true

[*.{c}]
charset = utf-8
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[*.md]
charset = utf-8
indent_style = spaces
indent_size = 2
